{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            
            <!-- {% 등은 장고 템플릿 태그 
            blog.views.post_detail는 post_detail 뷰 경로입니다. 
            blog는 응용프로그램(디렉터리 blog)의 이름인 것을 꼭 기억하세요. views는 views.py파일명이에요. 
            마지막 부분 post_detail는 view 이름입니다.
            pk는 데이터베이스의 각 레코드를 식별하는 기본키(Prmiary Key)의 줄임말 입니다. 
            -->
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}

